@import 'tailwindcss';

/* Optional: Add a smooth scroll behavior for the whole site */
html {
  scroll-behavior: smooth;
}

/* Framework Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
